.input-area{
    display: flex;
    width: 50%;
    height: 100px;
    margin: auto;
    align-items: center;
}
.input-field{
    background-color: white;
    color:#176166;
    margin: auto;
    height: 50px;
    width: 70%;
    border-radius: 12px;
    border-width: 0;
}
.input-field:focus{
    outline-width: 0;
    box-shadow: 5px 5px 50px #b4eaee;
}
.start-button{
    background-color: transparent;
    color: white;
    border-radius: 12px;
    border-width: 3;
    border-color: white;
    height: 50px;
    width: 20%;
}

.start-button:hover{
    background-color: white;
    color: black;
    border-radius: 12px;
    border-width: 0;
    height: 50px;
    width: 20%;
    box-shadow: 5px 5px 50px #b4eaee;
}
