.input-area{
    display: flex;
    width: 50%;
    height: 100px;
    margin: auto;
    align-items: center;
}
.input-field{
    background-color: white;
    margin: auto;
    height: 50px;
    width: 70%;
    border-radius: 12px;
    border-color: white;
}
.start-button{
    background-color: white;
    border-radius: 12px;
    border-width: 0;
    height: 50px;
    width: 20%;
}
